<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.bgm.mapper.BgmReceiveManagementMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*,b.*,c.vendor_name
        FROM bgm_receive_management a
        LEFT JOIN bgm_supply_material b ON a.sm_id = b.supply_material_id
        LEFT JOIN bgm_vendor c ON a.vendor_id = c.vendor_id
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.managementNumber != null">
                AND a.management_number LIKE CONCAT('%', #{param.managementNumber}, '%')
            </if>
            <if test="param.agreementNumber != null">
                AND a.agreement_number LIKE CONCAT('%', #{param.agreementNumber}, '%')
            </if>
            <if test="param.vendorId != null">
                AND a.vendor_id = #{param.vendorId}
            </if>
            <if test="param.smId != null">
                AND a.sm_id = #{param.smId}
            </if>
            <if test="param.receiveMethod != null">
                AND a.receive_method LIKE CONCAT('%', #{param.receiveMethod}, '%')
            </if>
            <if test="param.collectedWeight != null">
                AND a.collected_weight = #{param.collectedWeight}
            </if>
            <if test="param.warehousingWeight != null">
                AND a.warehousing_weight = #{param.warehousingWeight}
            </if>
            <if test="param.collectedNumber != null">
                AND a.collected_number LIKE CONCAT('%', #{param.collectedNumber}, '%')
            </if>
            <if test="param.claspWeight != null">
                AND a.clasp_weight = #{param.claspWeight}
            </if>
            <if test="param.storageBin != null">
                AND a.storage_bin LIKE CONCAT('%', #{param.storageBin}, '%')
            </if>
            <if test="param.grossWeight != null">
                AND a.gross_weight = #{param.grossWeight}
            </if>
            <if test="param.tareWeight != null">
                AND a.tare_weight = #{param.tareWeight}
            </if>
            <if test="param.netWeight != null">
                AND a.net_weight = #{param.netWeight}
            </if>
            <if test="param.buckleWeight != null">
                AND a.buckle_weight = #{param.buckleWeight}
            </if>
            <if test="param.transportVehicle != null">
                AND a.transport_vehicle LIKE CONCAT('%', #{param.transportVehicle}, '%')
            </if>
            <if test="param.driverName != null">
                AND a.driver_name LIKE CONCAT('%', #{param.driverName}, '%')
            </if>
            <if test="param.supplyNumber != null">
                AND a.supply_number = #{param.supplyNumber}
            </if>
            <if test="param.overHairedPersonnel != null">
                AND a.over_haired_personnel LIKE CONCAT('%', #{param.overHairedPersonnel}, '%')
            </if>
            <if test="param.overSkinnedPersonnel != null">
                AND a.over_skinned_personnel LIKE CONCAT('%', #{param.overSkinnedPersonnel}, '%')
            </if>
            <if test="param.cancellation != null">
                AND a.cancellation LIKE CONCAT('%', #{param.cancellation}, '%')
            </if>
            <if test="param.remark != null">
                AND a.remark LIKE CONCAT('%', #{param.remark}, '%')
            </if>
            <if test="param.smName != null">
                AND b.sm_name = #{param.smName}
            </if>
            <if test="param.smTypeName != null">
                AND b.sm_type_name = #{param.smTypeName}
            </if>
            <if test="param.managementStatusList != null and param.managementStatusList.size() > 0">
                AND a.management_status IN
                <foreach collection="param.managementStatusList" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="param.time1 != null">
                AND a.fleece_time > #{param.time1}
            </if>
            <if test="param.time2 != null">
                AND  #{param.time2}> a.fleece_time
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.bgm.param.BgmReceiveManagementParam">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.bgm.entity.BgmReceiveManagement">
        <include refid="selectSql"></include>
    </select>

</mapper>
