<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.bgm.mapper.BgmVendorAccountMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM bgm_vendor_account a
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.vendorId != null">
                AND a.vendor_id = #{param.vendorId}
            </if>
            <if test="param.accountName != null">
                AND a.account_name LIKE CONCAT('%', #{param.accountName}, '%')
            </if>
            <if test="param.accountBank != null">
                AND a.account_bank LIKE CONCAT('%', #{param.accountBank}, '%')
            </if>
            <if test="param.accountNumber != null">
                AND a.account_number LIKE CONCAT('%', #{param.accountNumber}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.bgm.entity.BgmVendorAccount">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.bgm.entity.BgmVendorAccount">
        <include refid="selectSql"></include>
    </select>

    <!--    根据vendorId查找银行账户-->
    <sql id="selectByVendorId">
        SELECT *
        FROM bgm_vendor_account
        WHERE vendor_id = #{vendorId}
    </sql>

    <select id="selectByVendorId" resultType="com.eleadmin.bgm.entity.BgmVendorAccount">
        <include refid="selectByVendorId" />
    </select>

</mapper>
