<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.bgm.mapper.BgmVendorMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM bgm_vendor a
        <where>
            <if test="param.vendorId != null">
                AND a.vendor_id = #{param.vendorId}
            </if>
            <if test="param.vendorName != null">
                AND a.vendor_name LIKE CONCAT('%', #{param.vendorName}, '%')
            </if>
            <if test="param.vendorType != null">
                AND a.vendor_type LIKE CONCAT('%', #{param.vendorType}, '%')
            </if>
            <if test="param.vendorRepresent != null">
                AND a.vendor_represent LIKE CONCAT('%', #{param.vendorRepresent}, '%')
            </if>
            <if test="param.vendorPhone != null">
                AND a.vendor_phone LIKE CONCAT('%', #{param.vendorPhone}, '%')
            </if>
            <if test="param.vendorFax != null">
                AND a.vendor_fax LIKE CONCAT('%', #{param.vendorFax}, '%')
            </if>
            <if test="param.vendorEmail != null">
                AND a.vendor_email LIKE CONCAT('%', #{param.vendorEmail}, '%')
            </if>
            <if test="param.vendorAddress != null">
                AND a.vendor_address LIKE CONCAT('%', #{param.vendorAddress}, '%')
            </if>
            <if test="param.vendorPostal != null">
                AND a.vendor_postal LIKE CONCAT('%', #{param.vendorPostal}, '%')
            </if>
            <if test="param.vendorStatus != null">
                AND a.vendor_status = #{param.vendorStatus}
            </if>
            <if test="param.buyer != null">
                AND a.buyer LIKE CONCAT('%', #{param.buyer}, '%')
            </if>
            <if test="param.taxId != null">
                AND a.tax_id LIKE CONCAT('%', #{param.taxId}, '%')
            </if>
            <if test="param.credit != null">
                AND a.credit = #{param.credit}
            </if>
            <if test="param.unqualified != null">
                AND a.unqualified = #{param.unqualified}
            </if>
            <if test="param.remark != null">
                AND a.remark LIKE CONCAT('%', #{param.remark}, '%')
            </if>
            <if test="param.focus != null">
                AND a.focus = #{param.focus}
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.bgm.entity.BgmVendor">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.bgm.entity.BgmVendor">
        <include refid="selectSql"></include>
    </select>


    <resultMap id="VendorResultMap" type="com.eleadmin.bgm.param.BgmVendorParam">
        <id column="vendor_id" property="vendorId"/>
        <result column="vendor_name" property="vendorName"/>
        <result column="vendor_type" property="vendorType"/>
        <result column="vendor_represent" property="vendorRepresent"/>
        <result column="vendor_phone" property="vendorPhone"/>
        <result column="vendor_fox" property="vendorFox"/>
        <result column="vendor_email" property="vendorEmail"/>
        <result column="vendor_address" property="vendorAddress"/>
        <result column="vendor_postal" property="vendorPostal"/>
        <result column="vendor_status" property="vendorStatus"/>
        <result column="buyer" property="buyer"/>
        <result column="tax_id" property="taxId"/>
        <result column="credit" property="credit"/>
        <result column="unqualified" property="unqualified"/>
        <result column="remark" property="remark"/>
        <result column="focus" property="focus"/>

        <!-- 映射子对象:联系人信息 -->
        <collection property="bgmVendorContactList" ofType="com.eleadmin.bgm.entity.BgmVendorContact">
            <id column="id" property="id"/>
            <result column="vendor_id" property="vendorId"/>
            <result column="contact_name" property="contactName"/>
            <result column="contact_post" property="contactPost"/>
            <result column="contact_phone" property="contactPhone"/>
        </collection>
        <!-- 映射子对象：账户信息 -->
        <collection property="bgmVendorAccountList" ofType="com.eleadmin.bgm.entity.BgmVendorAccount">
            <id column="id" property="id"/>
            <result column="vendor_id" property="vendorId"/>
            <result column="account_name" property="accountName"/>
            <result column="account_bank" property="accountBank"/>
            <result column="account_number" property="accountNumber"/>
        </collection>
        <!-- 映射子对象：材料信息 -->
        <collection property="bgmSupplyMaterialList" ofType="com.eleadmin.bgm.entity.BgmSupplyMaterial">
            <id column="supply_material_id" property="supplyMaterialId"/>
            <result column="sm_type_id" property="smTypeId"/>
            <result column="sm_type_Name" property="smTypeName"/>
            <result column="sm_name" property="smName"/>
            <result column="sm_specs" property="smSpecs"/>
            <result column="sm_remark" property="smRemark"/>
            <result column="sm_status" property="smStatus"/>
        </collection>

    </resultMap>
    <!-- 查询全部plusProMax -->
    <select id="pageList" resultMap="VendorResultMap">
        SELECT a.*, b.*, c.*,d.*,x.*
        from bgm_vendor a
        LEFT JOIN bgm_vendor_contact b ON a.vendor_id = b.vendor_id
        LEFT JOIN bgm_vendor_account c ON a.vendor_id = c.vendor_id
        LEFT JOIN bgm_vendor_material x ON a.vendor_id = x.vendor_id
        LEFT JOIN bgm_supply_material d ON d.supply_material_id = x.supply_material_id
        <where>
            <if test="param.vendorId != null">
                AND a.vendor_id = #{param.vendorId}
            </if>
        </where>
    </select>


</mapper>
